{% extends 'base.html.twig' %}

{% block title %}
	<title>DOClogin</title>
{% endblock %}

{% block header %}
	<header>
		<h1>FNKV Evidence</h1>
		<div class="welcome">
			<h3>Vitejte "titul" "username"</h3>
		</div>
	</header>
{% endblock %}

{% block body %}
	<main></main>
{% endblock %}


{% block css %}
	<link rel="stylesheet" href="{{ path('homepage_default') }}layouts/css/dashboard.css"/>
{% endblock %}
