{% extends 'base.html.twig' %}

{% block title %}
	<title>DOClogin</title>
{% endblock %}

{% block header %}
	<header>
		<h1>Fakultni nemocnice Kralovske Vinohrady</h1>
	</header>
	<div class="DOClogin">
		<h3>FNKV DOClogin</h3>
	</div>
{% endblock %}

{% block body %}
	<main>
		<div class="login-box">
			<h3>Prihlaseni</h3>
			<span class="icon"><img src="https://seeklogo.com/images/M/medicine-symbol-logo-C5F32D7618-seeklogo.com.png" width="30px" height="30px" alt="logo"/></span>
			<form action="/wrongPass" method="post" target="_self">
				<div class="input-box">
					<input type="text" id="username" name="username" placeholder="Uzivatelske jmeno" required/>
				</div>
				<div class="input-box">
					<input type="password" id="password" name="password" placeholder="Heslo" required/>
				</div>
				<div class="centerDiv">
					<button type="submit">Prihlasit</button>
					<div class="forgotPass">
						<p>
							<a href="ForgotPassword.html">Zapomenute heslo</a>
						</p>
					</div>
				</div>
			</form>
		</div>
	</main>
{% endblock %}


{% block css %}
	<link rel="stylesheet" href="{{ path('homepage_default') }}layouts/css/homepage.css"/>
{% endblock %}
