{% extends 'base.html.twig' %}

{% block title %}
	<title>DOClogin</title>
{% endblock %}

{% block header %}
	<header>
		<h1>Fakultní nemocnice Kralovské Vinohrady</h1>
	</header>
	<div class="DOClogin">
		<h3>FNKV DOClogin</h3>
	</div>
{% endblock %}

{% block body %}
	<main>
		<form action="{{ path('homepage_default') }}" method="post" target="_self">
			<div class="login-box">
				<span class="icon"><img src="https://seeklogo.com/images/M/medicine-symbol-logo-C5F32D7618-seeklogo.com.png" width="30px" height="30px" alt="logo"/></span>
				<h4>Přihlášení se nezdařilo</h4>
				<p>Pro ztrátu hesla kontaktujte administrátora.</p>
				<button type="submit">Zpět na přihlášení</button>
			</div>
		</form>
	</main>
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ path('homepage_default') }}layouts/css/wrongPass.css"/>
{% endblock %}
