<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DOClogin</title>
    <link rel="stylesheet" href="Homepage.css" />
  </head>
  <body>
    <header>
      <h1>jirka je curak</h1>
    </header>
    <div class="DOClogin">
      <h3>FNKV DOClogin</h3>
    </div>
    <main>
      <div class="login-box">
        <h3>Prihlaseni</h3>
        <span class="icon"
          ><img
            src="https://seeklogo.com/images/M/medicine-symbol-logo-C5F32D7618-seeklogo.com.png"
            width="30px"
            height="30px"
            alt="logo"
        /></span>
        <form action="Dashboard.html" method="post" target="_self">
          <div class="input-box">
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Uzivatelske jmeno"
              required
            />
          </div>
          <div class="input-box">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Heslo"
              required
            />
          </div>
          <div class="centerDiv">
            <button type="submit">Prihlasit</button>
            <div class="forgotPass">
              <p><a href="ForgotPassword.html">Zapomenute heslo</a></p>
            </div>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
